#----------#
# IntelliJ #
#----------#
.idea/
*.iml
*.ipr
*.iws

#-----#
# NPM #
#-----#
node_modules/

#----------------#
# Configurations #
#----------------#
config.js
connect-secret